.image-container {
  position: relative;
  overflow: hidden;
}

.placeholder-image, .real-image {
  width: 100%;
}

.blur .real-image {
  opacity: 0;
}

.real-image {
  position: absolute;
  top: 0;
  left: 0;
}

.blur {
  filter: blur(5px);
}

.unblur {
  animation: unblur 1s linear;
}

@keyframes unblur {
  from {
    filter: blur(10px)
  }
  to {
    filter: blur(0);
  }
}
